body {
  background-color: #ffd6b3;
}

.player-container{
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
  font-size: 30px;
  font-weight: bold;
}

.board{
  padding: 20px;
  background-color: red;
  border-radius: 5px;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  background-color: white;
  border: 1px solid #994d00;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.box:hover {
  background-color: rgb(232, 223, 223);
  box-shadow: 0 0 10px 4px  #ffbf80;
  /* border: none; */
  transition: 0.5s;
  z-index: 100;
}