body {
  background-color: rgb(36, 35, 35);
  color: white;
}

.first-head{
  font-size: 50px;
}
.heading{
  color: Aqua;
  font-size: 70px;
  font-weight: bold;
  /* font-family:monospace */
}

.current-player{
  font-size: 20px;
  color: Aqua;
}
.player-container{
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  font-size: 30px;
  font-weight: bold;
  /* background-color: red; */
  align-items: center;
}

.board{
  padding: 20px;
  /* background-color: blueviolet; */
  border-radius: 5px;
  /* width: fit-content;
  display: block;
  margin: 0 auto; */
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  /* background-color: white; */
  border: 2px solid white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.box1{
  border-top: none;
  border-left: none;
}

.box2{
  border-top: none;
}

.box3{
  border-top: none;
  border-right: none;
}

.box4{
  border-left: none;
}

.box6{
  border-right: none;
}

.box7{
  border-bottom: none;
  border-left: none;
}

.box8{
  border-bottom: none;
}

.box9{
  border-bottom: none;
  border-right: none;
}

.box:hover {
  background-color: rgb(48, 47, 47);
  /* box-shadow: 0 0 10px 4px  #ffbf80; */
  /* border: none; */
  transition: 0.5s;
  z-index: 100;
}

.reset-btn{
  background-color: Aqua;
  color: black;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  margin: 10px auto;
  width: 300px;
font-weight: bold;
}

.player{
  color: aqua;
}